/* Importing Roboto from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Font size based on scren width */

html {
	font-family: 'Roboto';
}

span {
	color: #444;
}

body {
	font-size: 16px;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
	body {
	font-size: 14px;
	}
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
	body {
	font-size: 12px;
	}
}

/* Media query for screens with a maximum width of 380px */
@media (max-width: 480px) {
	body {
	font-size: 10px;
	}
}

/* Variables */

:root {
	/* --btn-size: min(6vh, 5vw); */
	--btn-size: 5vmin;
	--options-btn-size: 7.5vmin;
	--little-board-size: 25vmin;
}

/* Centering and size */

div#container {
	position: relative;
	top: 5vh;
	display: flex;
    justify-content: center;
}

div#slider {
	position: relative;
	top: 10vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 0.25ref;
}

/* Big Tic Tac Toe boards */

div.table {
	display: grid;
	grid-template-columns: repeat(3, var(--little-board-size));
	grid-template-rows: repeat(3, var(--little-board-size));
	gap: 3px;
	background-color: #666;
	border: none;
}

div.board {
	display: grid;
	place-content: center;
	background-color: #fff;
}

/* Small Tic Tac Toe boards */

div.little-table {
	display: grid;
	grid-template-columns: repeat(3, calc(var(--btn-size) * 1.5));
	grid-template-rows: repeat(3, calc(var(--btn-size) * 1.5));
	gap: 1.5px;
	background-color: #888;
	border: none;
}

div.square {
	display: grid;
	place-content: center;
	background-color: #fff;
}

/* Buttons */

button {
	position: relative;
	height: var(--btn-size);
	width: var(--btn-size);
	background-color: #fff;
	margin: calc(var(--btn-size) / 4);
	border: 1px;
	border-radius: calc(var(--btn-size) / 4);
}

button.empty.enabled.userO {
	z-index: 0;
	background-color: rgba(100, 209, 245, 0.5);
}

button.empty.enabled.userO:hover {
	background-color: #48c5ef;
	cursor: pointer;
}

button.empty.enabled.userX {
	z-index: 0;
	background-color: rgba(255, 97, 95, 0.5);
}

button.empty.enabled.userX:hover {
	background-color: #ff615f;
	cursor: pointer;
}

button.symbolO {
	background-image: url('../img/o.png');
	background-size: var(--btn-size);
}

button.symbolX {
	background-image: url('../img/x.png');
	background-size: var(--btn-size);
}

/* Won small Tic Tac Toe boards */

div.symbolO {
	position: absolute;
	z-index: 1;
	background-image: url('../img/o.png');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.65;
	height: var(--little-board-size);
	width: var(--little-board-size);
}

div.symbolX {
	position: absolute;
	z-index: 1;
	background-image: url('../img/x.png');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.65;
	height: var(--little-board-size);
	width: var(--little-board-size);
}

div.symbolTie {
	position: absolute;
	z-index: 1;
	background-image: url('../img/tie.png');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.65;
	height: var(--little-board-size);
	width: var(--little-board-size);
}

div.symbolO button,
div.symbolX button,
div.symbolTie button {
	position: relative;
	z-index: -1;
}

/* Slider */

/* The slider itself */
.slider {
	height: 10px;
	border-radius: 10px;
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	background: #444;
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%; 
	background: #444;
	cursor: pointer; /* Cursor on hover */
}

/* Options */

div#options {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	background-color: #fff;
	z-index: 1;
}

button#options-button {
	visibility: visible;
	background-image: url(../img/gear.png);
	background-size: cover;
	width: var(--options-btn-size);
	height: var(--options-btn-size);
	cursor: pointer;
	z-index: 2;
}

button#options-button:hover {
	background-image: url(../img/gear-full.png);
}

div#options-button-container {
	position: absolute;
	top: 2vh;
	right: 2vw;
}

div#options-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 5vh;
	margin: auto;
}

button.options {
	position: relative;
	height: var(--options-btn-size);
	width: var(--options-btn-size);
	background-color: rgba(255, 255, 255, 0.75);
	margin: calc(var(--btn-size) / 4);
	border: 1px;
	border-radius: calc(var(--btn-size) / 4);
	cursor: pointer;
}

button.options.O {
	background-image: url('../img/o.png');
	background-repeat: no-repeat;
	background-size: cover;
}

button.options.X {
	background-image: url('../img/x.png');
	background-repeat: no-repeat;
	background-size: cover;
}

button.options.O:hover {
	background-color: rgba(100, 209, 245, 0.25);
}

button.options.X:hover {
	background-color: rgba(255, 97, 95, 0.25);
}